## System requirements :
Install the pydrive python module as follows :

a) pip install mysql-connector-python

b) pip install pandas

c) MySQL Workbench with mysql

## Step 1: Prepare and import the CSV File into Pandas dataframe
To begin, prepare the CSV file that you'd like to import to MySQL.

In [1]:
import pandas as pd
raw_data = pd.read_csv("OriginalPreProcessed.csv") #manually type csv file address if not in same folder as this .ipynb file
raw_data.head()

         Date  Rain mm  Station ID  Year  Month  Day
0  1957-03-01      0.0     4234109  1957      3    1
1  1957-03-02      2.5     4234109  1957      3    2
2  1957-03-03      1.3     4234109  1957      3    3
3  1957-03-04      0.0     4234109  1957      3    4
4  1957-03-05      0.0     4234109  1957      3    5

## Step 2 : Connect to the MySQL using Python and create a Database
Create a connection object to connect to MySQL, The connect() constructor creates a connection to the MySQL and returns a MySQLConnection object. Skip this step if proper database already existed in your mySQL server.

In [ ]:
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', user='root',  
                        password='password')#give your mysql workbench username, password
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("CREATE DATABASE rainfall") #name your mysql database here
        print("Database is created")
except Error as e:
    print("Error while connecting to MySQL", e)

## Step 3 : Create a table and Import the CSV data into the MySQL table
We will create an employee_data table under the employee database and insert the records in MySQL with below python code.

In [ ]:
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', database='rainfall', user='root', password='password')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS rainfall_data;')
        print('Creating table....')
# in the below line please pass the create table statement which you want #to create
        cursor.execute("CREATE TABLE rainfall_data(date_recorded date,rain_mm float(1),station_id int,year int,month int, day int)")
        print("Table is created....")
        #loop through the data frame
        for i,row in raw_data.iterrows():
            #here %S means string values 
            sql = "INSERT INTO rainfall.rainfall_data VALUES (%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not auto committed by default, so we must commit to save our changes
#            conn.commit() # i wont commit this inside a loop to save computing resource, put it outside instead
except Error as e:
            print("Error while connecting to MySQL", e)

In [ ]:
conn.commit() #commit all into mysql

## Step 4 : Query the Table (Using Jupyter), some prefer to just query using MySQL Workbench.

In [ ]:
# Execute query
sql = "SELECT * FROM rainfall.rainfall_data"
cursor.execute(sql)
# Fetch all the records
result = cursor.fetchall()
for i in result:
    print(i)